.section { position: absolute; z-index: 2; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 85%; height: 80vh; overflow-y: auto; }
.section .sectionContainer { height: 95%; }
.section .sectionContainer .content { position: relative; padding: 1.5rem 0; height: 100%; }
.section .sectionContainer .content h1 { text-align: center; font-size: 1.5rem; color: var(--text-color); line-height: 1; font-weight: 400; margin-bottom: .5rem; }